<p>character-list works!</p>

<h3>Listado Fuertes</h3>
<ul>
    @for (character of characters(); track character.id; let i = $index) {
        @if(character.power > 100){
            <li>
                <span>{{ i + 1 }} - {{ character.name }}</span>
                <strong [class.text-danger]="character.power > 9000" [class.text-info]="character.power < 9000">
                    ({{ character.power }})
                </strong>
                <!-- <strong [ngClass]="powerClasess()">
                        ({{ character.power }})
                    </strong> -->
            </li>
        }@else {
            <li><span class="text-danger">Personaje con poder muy bajo</span></li>
        }
    }
</ul>
